
.div1{
    position: relative;
    top: -220px;
    left: 30px;
    border: dashed 5px red;
    width: 350px;
    height: 150px;
    background-color: yellow;
}
.div2{
    position: relative;
    left: 500px;
    top: -380px;
    border-top: dashed 5px red ;
    border-left: solid 5px green;
    border-bottom: dashed 5px blue;
    background-color: yellow;
    border-right: solid 1px gray;
    width: 350px;
    height: 150px;
}
.div3{
 position: relative;
 left: 990px;
 top: -500px;
 width: 0;
 height: 0;
 border-left: 50px solid green;
 border-right: 50px solid yellow;
 border-top: 50px solid red;
 border-bottom: 50px solid blue;

}