table{
    border: 5px red solid;
    width: 700px;
    height: 170px;
    border-collapse: collapse;
    position: relative;
    left: 50px;
    top: -380px;
    background-color: white;
}
tr{
    border: 5px red solid;
    height: 120px;
}
td{
    border: 5px red solid;
}
