<hmtl>
<head>
<style>
table { 
    border-spacing: 0px; width: 1200px; height: 600px; border:1px solid black
}
table td { 
    border:1px solid black
}
body{
    background-color: gray;
}
.tr { 
    height: 50px;
    background-color: white;
}
.tr { 
    height: 30px;
}
.td1 { 
    width: 90px;height: 200px;
}
.td2 {width:80px; height: 1px;
} 



</style>




</head>
<body>
<table>
<tr class="tr1">
<td>cell 1.1</td>
<td>cell 1.2</td>
<td colspan="3"><b>cell 1.3 cell 1.4 cell 1.5</b></td>
<td>cell 1.6</td>
<td>cell 1.7</td>
<td class="td1" style="background-color: red;" rowspan="4"><b>cell 1.8 cell 2.8 cell 3.8 cell 4.8</b></td>
<td>cell 1.9</td>
<td>cell 1.10</td>
<td>cell 1.11</td>
<td>cell 1.12</td>
</tr>

<tr class="tr1">   
<td>cell 2.1</td>
<td>cell 2.1</td>
<td>cell 2.3</td>
<td>cell 2.4</td>
<td>cell 2.5</td>
<td>cell 2.6</td>
<td>cell 2.7</td>
<td>cell 2.9</td>
<td style="background-color:green;" colspan="3"><i>cell 2.10 cell 2.11 cell 2.12</i></td>
</tr>

<tr >
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr class="tr3">
<td></td>
<td></td>
<td style="background-color:white;"  colspan="3" rowspan="4">cell 4.3, cell 4.4, cell 4.5 <br> cell 5.3, cell 5.4, cell 5.5</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
</tr>

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
   </tr>

<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td class="td2"  style="background-color:blue;" rowspan="4">cell 9.8  cell 9.9  cell 10.9 cell 10.10 </td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr>
    <td>cell 10.1</td>
    <td>cell 10.2</td>
    <td>cell 10.3</td>
    <td>cell 10.4</td>
    <td>cell 10.5</td>
    <td>cell 10.6</td>
    <td>cell 10.7</td>
    <td>cell 10.8</td>
    <td>cell 10.10</td>
    <td>cell 10.11</td>
    <td>cell 10.12</td>
</tr>
</table>






</body>







</hmtl>