div{
    border: 2px solid black;
    background-color: #ecf0f1;
    width: 500px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 110px;
}
.input-1{
    border: 1px solid black;
    border-radius: 5px;
    width: 250px;
    height: 40px;
    
}
.input-1:focus{
      outline: none;
      
}
.button-1{
    border: 1px solid red;
    border-radius: 5px;
    width: 255px;
    height: 45px;
    background-color: red;
}
.login-1{
    color: black;
    padding-left: 90px;
    padding-top: 30px;
}
.register-1{
    padding-left: 30px;
}