div{
    border: solid black 2px;
    width: 950px;
    height: 750px;
    box-sizing: border-box;
    margin: auto;
    background-color: #ffffff;
}
.h2{
    margin-left: 10px;
}
.h2-1{
    color: #758396;
    margin-left: 60px;
}
.input-1{
    margin-left: 180px;
    position: relative;
    top: -52px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
    height: 40px;
    
  
}
.input-1:focus{
    outline: none;
    
}
.h2-2{
    margin-left: 22px;
    color: #758396;
}
.input-2{
    margin-left: 180px;
    position: relative;
    top: -90px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
    height: 40px;
    
}
.input-2:focus{
    outline: none;
    
}
.input-3{
    margin-left: 180px;
    position: relative;
    top: -56px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
    height: 40px;
}
.sign{
    background-color: red;
    border-radius: 7px;
    border: 3px red solid;
    width: 300px;
    height: 55px;
    
    margin-left: 350px;
    color: white;
}