*{
    box-sizing: border-box;
 }

body{
    background-color: #096483;
}

header{
    border: 2px solid #49bb50;
    background-color: #49bb50;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    width: 60%;
    height: 150px;
}
nav{
    flex: 10%;
}
article{
    padding: 15px;
    
   

}
.p1-1{
    color: #49bb50;
    position: relative;
    left: 14px;
}

.p1{
    padding-left: 15px;
    width: 450px;
    display: flex;
    
   
}
.img1{
    margin-top: 10px;
    margin-left: 15px;
}
.div1{
    border: 2px solid white;
    background-color: white;
    margin: auto;
    width: 60%;
    height: 1500px;
    display: flex;
    flex: 85%;
    
}
.div1-2{
    background-color: #49bb50;
    border: 1px solid black;
    width: 150px;
    height: 35px;
    
    padding-top: 5px;
    padding-left: 15px;
}
.div2{
    border: 1px solid black;
    background-color: #116079;
    width: 150px;
    height: 35px;
    padding-top: 5px;
    padding-left: 15px;
    border-left: 15px solid black;
    color: white;
}
.div2:hover{
    border-left: 15px solid green  ;
}
.div1-2-1{
    
    border-top-left-radius: 15px;
    background-color: black;
    border: 1px solid black;
    color: white;
    width: 150px;
    height: 50px;
    padding-top: 5px;
    padding-left: 15px;
}
.div2-1{
    
    border: 1px solid black;
    background-color: black;
    width: 150px;
    height: 50px;
    padding-top: 5px;
    padding-left: 15px;
    
    color: white;
}
.content{
    border: solid 3px white;
    flex: 90%;
}
.img1-1{
    border: 1px solid #096483;
    background-image: url(wallpapersden.com_ghostrunner-4k-gaming_3840x2160.jpg);
    margin: auto;
    width: 60%;
    height: 200px;
    background-size: cover;
    
}
.img{
    border: 1px solid white;
    width: 259px;
    height: 340px;
    background-image: url(Screenshot\ 2022-12-21\ 154154.png);
    float: left;
    
    
}
.but1{
    border: #096483 solid 2px;
    background-color: #096483;
    border-radius: 15px;
    float: left;
    width: 110px;
    height: 40px;
    padding-top: 9px;
    padding-left: 10px;
    margin-left: 5px;
    
}
.but2{
    background-color: #49bb50;
    border: #49bb50 2px solid;
    border-radius: 15px;
    float: right;
    width: 90px;
    height: 40px;
    
}
